# specify language
language: node_js

# specify language options
node_js:
  - 13

services: 
  - docker

install:
  - echo "Nothing!"
before_script:
  - echo "Nothing!"
script:
#Assuming the .travis.yml file is in the project directory, and there is a separate sub-directory for each service
# Use either `docker-compose` or individual `docker build` commands
# Build
- docker build -t reverseproxy ./udagram-reverseproxy
- docker build -t udagram-api-user ./udagram-api-user
- docker build -t udagram-api-feed ./udagram-api-feed
- docker build -t udagram-frontend ./udagram-frontend

- docker tag reverseproxy jlildev/udagram-reverseproxy:latest
- docker tag udagram-api-user jlildev/udagram-api-user:latest
- docker tag udagram-api-feed jlildev/udagram-api-feed:latest
- docker tag udagram-frontend jlildev/udagram-frontend:latest
after_success:

# Push
# Assuming DOCKER_PASSWORD and DOCKER_USERNAME are set in the Travis repository settings
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker push jlildev/udagram-reverseproxy:v1
  - docker push jlildev/udagram-api-user:v1
  - docker push jlildev/udagram-api-feed:v1
  - docker push jlildev/udagram-frontend:v1

# Do similar for other three images